@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Set a light gray background for the whole page to create separation */
  background-color: #f3f4f6; /* Tailwind's gray-100 */
  color: #1e293b; /* slate-800 for main text */
  min-height: 100vh;
}
